.mainside {
    margin-left: 12%; 
    margin-right: 22%;
    
}

.sbar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Heading {
    font-size: 80px;
    font-weight: 500;
}

.tempheading {
    font-size: 40px;
    font-weight: 500;
}

.rightsidebar {
    background-color: #171c32;
    position: fixed; 
    right: 0;       
    top: 0;         
    width: 20%;   
    height: 95vh;   
    padding: 20px;  
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.rightsidediv {
    height: 15%;
    border-bottom: 3px solid white;
    justify-content: center;
    align-items: center;
}

.sidebar {
    background-color: #171c32;
    position: fixed; 
    left: 0;       
    top: 0;         
    width: 10%;   
    height: 100%;   
    padding: 20px;  
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);  
}

.sidediv {
    display: flex;
    justify-content: center;
    align-items: center;
}